<div>
  <h1 class="font-bold text-4xl">USER Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
</div>
<%= icon('fa-bands', 'font-awesome') %>
<%= icon('fa-solid', 'user-secret') %>
<i class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i>